<h1>Welcome to the Chat Room</h1>

<!-- hardcode in first -->
<!-- NO SERIOUSLY, ALWAYS HARDCODE IN FIRST -->
<!-- <form>
  <input type="text">
  <input type="submit">
</form>
<hr />
<ul>
  <li>John: Hey!</li>
  <li>Jill: SUP</li>
</ul> -->

<!-- then replace hardcoding with an ng repeat.  for each message in the message array, 
it loops through with ng repeat and for each message gives the author and content
 -->
 <form>
  <input type="text">
  <input type="submit">
</form>
<hr />
<ul>
  <li ng-repeat="msg in messages">{{msg.author}}: {{msg.content}}</li>
</ul>
